<a href="{{link}}" class="vacancy-link" target="_blank">
  <div class="vacancy-card">
    <!-- Левая часть -->
    <div class="vacancy-left">
      {{logoOrInitial}}
      <div class="vacancy-info">
        <div class="vacancy-company">{{company}}</div>
        <div class="vacancy-city">{{city}}</div>
      </div>
    </div>

    <!-- Правая часть -->
    <div class="vacancy-right">
      <div class="vacancy-title">{{title}}</div>
      <div class="vacancy-salary">{{salary}}</div>
      <div class="vacancy-date">{{date}}</div>
    </div>
  </div>
</a>