<div class="vacancy-card">
    <div class="vacancy-left">
        {{logoOrInitial}}
  
      <div class="vacancy-info">
        <div class="vacancy-row">
          <span class="vacancy-company">{{company}}</span>
          <span class="vacancy-title">· {{title}}</span>
        </div>
        <div class="vacancy-city">{{city}}</div>
      </div>
    </div>
  
    <div class="vacancy-right">
      <div class="vacancy-salary">{{salary}}</div>
      <div class="vacancy-date">{{date}}</div>
    </div>
  </div>